<% if current_user %>
	<%= render 'ribbits/new_form' %>
<% end %>



<div id="ribbits" class="panel left">
	<h1> Sexy Ribbit Profile</h1>
	<div class="ribbitwrapper">
		<img class="avatar" src="<%= @user.avatar_url %>" />
		<span class="name"><%= @user.name %></span> @<%= @user.username %>
		<p>
			<%= @user.ribbits.length %> Ribbitsss
			<span class="spacing"> | xx Followers </span>
			<span class="spacing"> | xx Following </span>
		</p>
	</div>
	</div>

	<div class="panel left">
	<h1> Ribbits</h1>
	<div class="ribbitWrapper">
		Sexy Ribbits Coming...
		</div>
		</div>
